/* 
CSS för att styla kodblock. Flyttade denna till en egen fil för att det var mindre jobbigt.
*/

.value {
    color: rgb(233, 233, 66);
}
.const {
    color: orange;
}
.keyword {
    color: rgb(255, 30, 30);
}
.crate {
    color: var(--theme-color);
    text-shadow: 1px 0px 1px color-mix(in srgb, var(--theme-color), white 25%);
}
.ident {
    color: rgb(92, 244, 92);
}
.function {
    color: rgb(149, 117, 180);
}

.dark {
    background-color: rgb(40, 40, 40);
    color: white;
}