/* Styling specifikt för get_started.html */

.cmd {
    white-space: nowrap;
    user-select: all;
}

code {
    display: inline-block;

    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);

    background-color: var(--bg2);
    padding: var(--small-padding) var(--padding) var(--small-padding) var(--padding);
    border-radius: 5px;
}

main {
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--padding) var(--padding) var(--large-padding) var(--padding);
}

main a {
    text-decoration: underline;
    color: var(--secondary-color);
}

main h2 {
    font-size: 1rem;

    justify-self: center;
    font-size: 4rem;
    text-align: center;

    margin-bottom: var(--large-padding);
}

main h3 {
    font-size: 1.5rem;
}

main h4 {
    font-size: 1rem;
}

main > ul {
    width: 50%;
}

main ul {
    display: flex;
    flex-direction: column;

    list-style: none;
}

main > ul > li {
    color: var(--text-color);
}

main > ul {
    gap: var(--padding);
}

#guide a {
    text-decoration: solid underline;
}