/* Styling specifikt för index.html */

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#welcome > h2 {
    font-size: 2rem;
}

#welcome > h3 {
    margin-top: var(--padding);
    font-size: 1.25rem;
}

/* index.html */
#main-links {
    display: flex;
    flex-direction: row;

    list-style: none;

    justify-content: center;
    gap: 10%;

    margin-top: var(--padding);

    width: 100%;
}

#info-boxes {
    display: grid;
    gap: var(--padding);
    grid-template-columns: repeat(2, 1fr);
}

#info-boxes h2 {
    font-size: 1rem;
}
#info-boxes p {
    font-size: 1rem;
}

#info-boxes > * {
    background-color: var(--theme-color);
    color: var(--text-color2);

    padding: var(--padding);
}

#main-links a {
    background-color: var(--theme-color);
    color: var(--text-color2);

    padding: var(--small-padding) var(--padding) var(--small-padding) var(--padding);

    border-radius: 999px; /* Tydligen finns det inget bättre sätt att göra detta på??? */

    font-size: 1.125rem;
}

#main-links a:hover {
    background-color: var(--secondary-color);
}