/* Styling specifikt för showcase.html */

#showcase-images {
    display: grid;
    gap: var(--small-padding);
}

#showcase-images figure {
    border-radius: 15px;

    background-color: var(--bg2);
    padding: var(--small-padding);
}

#showcase-images img {
    width: 100%;

    border-radius: calc(15px - var(--small-padding));
}

#showcase-images figcaption {
    color: black;
    font-size: 0.75rem;
    font-family: monospace;
    font-style: italic;
    text-align: center;

    margin-top: var(--small-padding);
    margin-bottom: var(--small-padding);
}

/* Mobile */
@media screen and (max-width: 699px) {
    #showcase-container {
        grid-template-areas:
            "tp"
            "mn"
            "ft";

        grid-template-columns: 1fr;
    }

    #showcase-images {
        grid-template-columns: 1fr;
    }
}

/* Desktop */
@media screen and (min-width: 700px) {
    #showcase-container {
        grid-template-areas:
            "tp"
            "mn"
            "ft";

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #showcase-images {
        grid-template-columns: repeat(2, 1fr);
    }
}
