/* Temporärt */

html {
    height: 100.1vh;
}

/* Generellt */

:root {
    interpolate-size: allow-keywords;

    /* --background-color: white; */
    --background-color: rgb(255, 250, 250);
    
    --primary-color: rgb(245, 240, 240);
    --primary-text-color: var(--secondary-color);

    --secondary-color: #A2574B;
    --secondary-text-color: var(--background-color);
}

body {
    background-color: var(--background-color);

    display: grid;

    font-family: system-ui;

    color: var(--primary-text-color);
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: circle inside;
}

/* Små markers */

.small {
    font-size: 0.8rem;
}

.note {
    font-style: italic;
}

.superscript {
    vertical-align:super;
}

.bold {
    font-weight: bold;
}

/* Header */

header {
    grid-area: hd;

    padding: 5px;

    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}
header nav {
    padding-top: 5px;
}

/* Nav */

#nav-menu {
    grid-area: nv;
}

#nav-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;

    margin: 5px;
}

#nav-links a {
    display: block;
    width: auto;
    
    transition: box-shadow 0.125s;

    border-radius: 999px;
    padding: 7px 10px 7px 10px;
}

#nav-links a:hover {
    backdrop-filter: brightness(90%);
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
    text-decoration: none;
}

/* Main */

main {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h2 {
    font-size: 2rem;
}

main > h3 {
    margin-top: 15px;
    font-size: 1.25rem;
}

/* (saker specifika för index.html) */
#main-links {
    display: flex;
    flex-direction: row;

    list-style: none;

    justify-content: center;
    gap: 10%;

    margin-top: 8vh;

    width: 100%;
}

#info-boxes {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}


#info-boxes h2 {
    font-size: 1rem;
}
#info-boxes p {
    font-size: 1rem;
}

#info-boxes > * {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);

    padding: 7px;
}

#main-links a {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);

    padding: 10px 20px 10px 20px;
    
    border-radius: 999px; /* Tydligen finns det inget bättre sätt att göra detta på??? */

    font-size: 1.125rem;

    transition: box-shadow 0.125s;
}

#main-links a:hover {
    filter: brightness(90%);
}

/* showcase.html */

#showcase-img {
    display: grid;
    gap: 5px;
}

#showcase-img > * {
    width: 100%;
    height: 100%;

    background-color: orange;
}

/* about.html */

#faq {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 10px;
}

#faq h2 {
    font-size: 1rem;
}

#faq > ul {
    list-style: none;

    width: 75%;
}

.faq-item h3 {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
}

/* Vissa browsers har inte stöd för att interpolera mellan t.ex. 'auto' och 0px, och i så fall vill jag stänga av alla animationer där en sådan interpolering är inblandad */
@supports (interpolate-size: allow-keywords) {
    .faq-item p {
        /* Här, till exempel, hade den animerat padding även om 'allow-keywords' inte tillåts, men den hade inte animerat height, och i så fall är det bättre om ingen av dem animeras */
        transition: height 0.25s ease-in-out, padding 0.25s ease-in-out;
    }
}

.faq-item p {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    
    overflow: hidden;

    height: 0px;

    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.faq-item.open p {
    height: auto;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Ease of life */

main {
    grid-area: mn;
}

section:nth-of-type(1) {
    grid-area: s1;
}

section:nth-of-type(2) {
    grid-area: s2;
}

section:nth-of-type(3) {
    grid-area: s3;
}

aside {
    grid-area: as;
}

footer {
    grid-area: ft;
}

/* VET INTE */

body > section, main, aside {
    padding: 10px;
}

/* Mobile */
@media screen and (max-width: 599px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas: 
        'hd'
        'mn'
        's1'
        's2'
        'ft';

        grid-template-columns: 1fr;
        grid-template-rows: auto 75vh auto auto auto;
    }

    #about-container {
        grid-template-areas: 
        'hd'
        's1'
        'as'
        's2'
        's3'
        'ft';

        grid-template-columns: 1fr;
    }

    #get_started-container {
       grid-template-areas: 
        'hd'
        'mn'
        's1'
        'ft';

        grid-template-columns: 1fr;
        grid-template-rows: auto 50vh auto auto;
    }

    #showcase-container {
        grid-template-areas: 
        'hd'
        'mn'
        'ft';

        grid-template-columns: 1fr;
    }

    #showcase-img {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu-button {
        position: fixed;

        cursor: pointer;

        left: 5px;
        top: 5px;
    }

    #nav-menu {
        background-color: var(--background-color);

        position: fixed;

        height: 100vh;
        width: 80vw;

        top: 0px;
        left: -80vw;
        transition: left 0.3s;

        z-index: 10;
    }

    #nav-menu.visible {
        left: 0vh;
        box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.25);
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        list-style: none;

        margin: 5px;
    }

    #fade-layer {
        background-color: black;
        filter: opacity(25%);

        display: none;

        position: fixed;
        width: 100vw;
        height: 100vh;

        z-index: 5;
    }

    #fade-layer.visible {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 600px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas: 
        'hd hd '
        'nv nv'
        'mn mn'
        's1 s2'
        'ft ft';
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 75vh auto auto;
    }

    #about-container {
        grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        's1 s1 as'
        's2 s3 as'
        'ft ft ft';

        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto auto 75vh 75vh auto;
    }

    #get_started-container {
        grid-template-areas: 
        'hd'
        'nv'
        'mn'
        's1'
        'ft';

        grid-template-columns: 1fr;
        grid-template-rows: auto auto 60vh auto auto;
    }

    #showcase-container {
        grid-template-areas:
        'hd'
        'nv'
        'mn'
        'ft';

        grid-template-columns: 1fr;
        grid-template-rows: auto auto 50vh auto;
    }

    #showcase-img {
        grid-template-columns: repeat(4, 1fr);
    }

    #nav-menu {
        display: block;
        position: static;

        width: auto;
        height: auto;
    }

    #menu-button {
        display: none;
    }

    body > header, footer, nav, main, section, aside, header {
        transition: background-color 0.125s;
    }

    body > footer:hover, main:hover, section:hover, aside:hover, header:hover {
        background-color: var(--primary-color);
        color: var(--primary-text-color);
    }
}