/* Generellt */

body {
    display: grid;

    font-family: system-ui;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    grid-area: hd;

    text-align: center;

    padding-top: 10px;
}

#nav-menu {
    grid-area: nv;
}

#nav-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;

    margin: 5px;
}

#nav-links a {
    display: block;
    padding: 5px;
    width: auto;
}

#nav-links a:hover {
    backdrop-filter: brightness(90%);
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
    text-decoration: none;
}


main {
    grid-area: mn;

    height: 75vh;

    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#main-links {
    display: flex;
    flex-direction: row;

    list-style: none;

    justify-content: center;
    gap: 10%;

    margin-top: 8vh;

    width: 100%;
}

#info-boxes {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

#info-boxes > * {
    background-color: gray;

    padding: 5px;
}

#main-links a {
    background-color: rgba(0, 0, 0, 0.115);

    padding: 10px 20px 10px 20px;
    
    border-radius: 999px; /* Tydligen finns det inget bättre sätt att göra detta på??? */

    font-size: 1.125rem;
}

#showcase-img {
    display: grid;
    gap: 5px;
}

#showcase-img > * {
    width: 100%;
    height: 100%;

    background-color: orange;
}

main > h2 {
    font-size: 4rem;
}

main > h3 {
    font-size: 1.25rem;
}

section:nth-of-type(1) {
    grid-area: s1;
}

section:nth-of-type(2) {
    grid-area: s2;
}

section:nth-of-type(3) {
    grid-area: s3;
}

body > section, main, aside {
    padding: 10px;
}

aside {
    grid-area: as;
}

footer {
    grid-area: ft;
}

/* Mobile */
@media screen and (max-width: 599px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas: 
        'hd'
        'mn'
        's1'
        's2'
        'ft';

        grid-template-columns: 1fr;
    }

    #about-container {
        grid-template-areas: 
        'hd'
        'ft';

        grid-template-columns: 1fr;
    }

    #get_started-container {
        grid-template-areas: 
        'hd';

        grid-template-columns: 1fr
    }

    #showcase-container {
        grid-template-areas: 
        'hd'
        'mn'
        'ft';

        grid-template-columns: 1fr;
    }

    #showcase-img {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu-button {
        position: fixed;

        cursor: pointer;

        left: 5px;
        top: 5px;
    }

    #nav-menu {
        background-color: red;

        position: fixed;

        height: 100vh;
        width: 80vw;

        left: -80vw;
        transition: left 0.3s;

        z-index: 10;
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        list-style: none;

        margin: 5px;
    }

    #nav-menu.visible {
        left: 0vh;
    }

    #fade-layer {
        background-color: black;
        filter: opacity(25%);

        display: none;

        position: absolute;
        width: 100vw;
        height: 100vh;

        z-index: 5;
    }

    #fade-layer.visible {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 600px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas: 
        'hd hd '
        'nv nv'
        'mn mn'
        's1 s2'
        'ft ft';
        
        grid-template-columns: 1fr 1fr;
    }

    #about-container {
        grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        's1 s1 as'
        's2 s3 as'
        'ft ft ft';

        grid-template-columns: 1fr 1fr 1fr;
    }

    #get_started-container {
        grid-template-areas: 
        'hd'
        'nv';

        grid-template-columns: 1fr;
    }

    #showcase-container {
        grid-template-areas:
        'hd'
        'nv'
        'mn'
        'ft';

        grid-template-columns: 1fr;
    }

    #showcase-img {
        grid-template-columns: repeat(4, 1fr);
    }

    #nav-menu {
        display: block;
        position: static;

        width: auto;
        height: auto;
    }

    #menu-button {
        display: none;
    }
}