/* Temporärt */

html {
    height: 100.1vh;
}

::-webkit-scrollbar {
    display: none;
}

/* Bakgrundsfärger */

#top-bar {
    background-color: var(--bg3);
}

body > main {
    background-color: var(--bg2);
}

body > section {
    background-color: var(--bg1);
}

body > aside {
    background-color: var(--bg2);
}

footer {
    background-color: var(--bg3);
}

/* Generellt */

:root {
    interpolate-size: allow-keywords;

    --bg1: rgb(255, 240, 240);
    --bg2: rgb(240, 230, 230);
    --bg3: rgb(238, 226, 226);

    --theme-color: rgb(162, 87, 75); /* #a2574b */
    --secondary-color: rgb(226, 121, 121);

    --text-color: var(--theme-color);
    --text-color2: var(--bg2);

    --small-padding: 5px;
    --padding: 15px;
    --large-padding: 50px;
}

body {
    background-color: var(--background-color);

    display: grid;

    font-family: system-ui;

    color: var(--text-color);
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: circle inside;
}

/* Små markers */

.small {
    font-size: 0.8rem;
}

.note {
    font-style: italic;
}

.superscript {
    vertical-align: super;
}

.bold {
    font-weight: bold;
}

/* Header */

.icon {
    height: 4rem;
    aspect-ratio: 1;
}

header {
    z-index: 10;

    grid-area: hd;

    text-align: center;
}

.title {
    padding: var(--padding);
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

#top-bar {
    grid-area: tp;
    position: sticky;
    top: 0px;
}

/* Nav */

#nav-menu {
    background-color: inherit;
}

#nav-links {
    display: flex;
    list-style: none;
}

.selected {
    font-weight: bold;
}

#nav-links a {
    display: block;
    width: auto;

    transition: box-shadow 0.125s;

    padding: var(--small-padding) var(--padding) var(--small-padding) var(--padding);
}

#nav-links a:hover {
    color: var(--secondary-color);
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
    text-decoration: none;
}

/* Footer */
footer {
    padding: var(--padding);

    font-size: 0.75rem;

    display: flex;
    justify-content: space-between;
    align-items: center ;

    height: 15vh;
}

footer h2 {
    font-weight: normal;
    font-size: 1.25rem;
}

footer a:hover {
    color: var(--secondary-color);
}

/* Ease of life */

main {
    grid-area: mn;
}

nav {
    grid-area: nv;
}

section:nth-of-type(1) {
    grid-area: s1;
}

section:nth-of-type(2) {
    grid-area: s2;
}

section:nth-of-type(3) {
    grid-area: s3;
}

aside {
    grid-area: as;
}

footer {
    grid-area: ft;
}

/* VET INTE */

body > section,
main,
aside {
    padding: var(--padding);
}

/* Mobile */
@media screen and (max-width: 699px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas:
            "tp"
            "mn"
            "s1"
            "s2"
            "ft";

        grid-template-columns: 1fr;
        grid-template-rows: auto 75vh auto auto auto;
    }

    #about-container {
        grid-template-areas:
            "tp"
            "s1"
            "as"
            "s2"
            "s3"
            "ft";

        grid-template-columns: 1fr;
    }

    #get_started-container {
        grid-template-areas:
            "tp"
            "mn"
            "s1"
            "ft";

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #showcase-container {
        grid-template-areas:
            "tp"
            "mn"
            "ft";

        grid-template-columns: 1fr;
    }

    #showcase-images {
        grid-template-columns: 1fr;
    }

    #menu-button {
        position: fixed;
        z-index: 10;

        cursor: pointer;

        left: 24px;
        top: 24px;
    }

    #menu-button i {
        font-size: 2.5rem;
    }

    #nav-menu {
        position: fixed;

        height: 100vh;
        width: 80vw;

        top: 0;
        left: -80vw;
        transition: left 0.3s;

        z-index: 100;
    }

    #nav-menu.visible {
        left: 0vh;
        box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.25);
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;

        margin: 5px;
    }

    #nav-links hr {
        color: var(--text-color);
    }

    #fade-layer {
        background-color: black;
        filter: opacity(40%);

        display: none;

        position: fixed;

        top: 0;

        width: 100vw;
        height: 100vh;

        z-index: 10;
    }

    #fade-layer.visible {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 700px) {
    :root {
        font-size: 1rem;
    }

    #index-container {
        grid-template-areas:
            "tp tp"
            "mn mn"
            "s1 s2"
            "ft ft";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 75vh auto auto;
    }

    #about-container {
        grid-template-areas:
            "tp tp tp"
            "s1 s1 as"
            "s2 s3 as"
            "ft ft ft";

        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: auto 75vh 75vh auto;
    }

    #get_started-container {
        grid-template-areas:
            "tp"
            "mn"
            "s1"
            "ft";

        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(60vh, auto), auto auto;
    }

    #showcase-container {
        grid-template-areas:
            "tp"
            "mn"
            "ft";

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #showcase-images {
        grid-template-columns: repeat(2, 1fr);
    }

    #nav-menu {
        display: flex;
        justify-content: center;

        height: auto;
    }

    #nav-menu .title {
        display: none;
    }

    #nav-menu hr {
        display: none;
    }

    #menu-button {
        display: none;
    }
}
