/* Generellt */

body {
    display: grid;

    gap: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    grid-area: hd;

    text-align: center;

    padding-top: 10px;
}

.menu {
    background-color: gray;

    grid-area: nv;
}

main {
    grid-area: mn;
}

section:nth-of-type(1) {
    grid-area: s1;
}

section:nth-of-type(2) {
    grid-area: s2;
}

footer {
    grid-area: ft;
}

/* Mobile */
@media screen and (max-width: 599px) {
    

    body {
        grid-template-areas: 
            'hd'
            'mn'
            's1'
            's2'
            'ft';
    }

    .menu-button {
        position: fixed;

        cursor: pointer;

        left: 5px;
        top: 5px;
    }

    .menu {
        position: fixed;

        height: 100vh;
        width: 80vw;

        left: -80vw;
        transition: left 0.3s;

        z-index: 10;
    }

    .menu.visible {
        left: 0vh;
    }

    .fade-layer {
        background-color: black;
        filter: opacity(25%);

        display: none;

        position: absolute;
        width: 100vw;
        height: 100vh;

        z-index: 5;
    }

    .fade-layer.visible {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 600px) {
    body {
        grid-template-areas: 
        'hd hd '
        'nv nv'
        'mn mn'
        's1 s2'
        'ft ft';
    }

    .menu {
        display: block;
        position: static;

        width: auto;
        height: auto;
    }

    .menu-button {
        display: none;
    }
}